
/*===== Custom ====*/





html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}


.wrapper {
	min-height: 100%;
	position: relative;
}

.banner {
	background-color: black;
	color: white;
	text-align: center;
	background-size: 100% 100%;
}

.navbar {
	margin-bottom: 0;
}

.main {
	padding-bottom:40px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.footer {
	text-align: center;
	color: grey;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
}

.big-text {
	font-size: x-large;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.row.center {
	margin: 0 auto;
	text-align: center;
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}

.bcg {
	min-height: 750px;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide .contentrow  > div{
	font-size: 14pt;
}

.title {
	background-color:white;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom:25px;
}

.contentrow{
	padding-top: 20px;
	padding-bottom: 20px;
}

.contentrow h3 {
	margin-left: -10px;
	font-family: Century Gothic, sans-serif;
}

.contentrow h4 {
	font-family: Century Gothic, sans-serif;
}

.content-image {
	overflow:hidden;
}

.quote {
	font-style: oblique;
	overflow: hidden;
	margin-left: 25px;
	margin-bottom: 30px;
}

.quote blockquote p {
	font-size: inherit;
	font-weight: inherit;
}

.quote .quote-source {
	float: right;
}

.quote-source :before{
	content: "-";
}

.innerquote {
	width: 70%;
	padding-left: 15%;
}

.nobg {
	background-color: hsla(0, 100%, 100%, 0.0);
}

.bg-opaque {
	background-color: hsla(0, 100%, 100%, 0.8);
	border-radius: 12px;
	font-weight: bold;
	font-size: 20;
	color:black;
}

.bg-opaque-invert {
	background-color: hsla(0, 100%, 0%, 0.75);
	border-radius: 12px;
	color: white;
}

.bg-image {
	color:white;
}

.pheader{
	margin-bottom: 10px;
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
}


.clickable:hover {
	cursor:pointer;
}

#skrollr-text-1 {
	font-size: 14pt;
}

#skrollr-text-1 .row div {
	margin-bottom: 10px;
}

#nextEvent h4 {
	padding-right: 100px;
	padding-top: 40px;
}

.evtText {
	margin-top: 125px;
	width: 80%;
}

.linkset a {
	color: darkgreen;
	font-size: large;
}

.linkset div.row {
	margin-top: 25px;
	margin-bottom: 25px;
}


.story-archive {
	margin-top: 10px;
	margin-bottom: 10px;
}

.story .title {
	text-align: center;
}

.story img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.story .postedat {
	font-size: 20px;
	margin-top: 20px;
	color: #999;
}

.story-listing {
	text-align: center
}

@media (min-width: 721px) {
	.bcg {
	    background-attachment: fixed !important;
	    background-size: cover !important;
	}

	#redefine-header-text {
		width: 60%;
	}
}

@media (max-width: 720px)  {
	img { 
		max-width: 100%; 
		height: auto;
	}

	.bcg {
		min-height: 640px;
	    background-attachment: fixed !important;
	    background-size: 100% 100% !important;
	}

	.row {
		margin-left: inherit;
		margin-right: inherit;
	}
}
