---
title: About Us
slug: about-us
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 101
---
{% extends parent %}

{% block main %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
	<div class="row contentrow">
	  <h3>MISSION</h3>
	  	RECLAIMED exists to empower and mobilize God’s Church to REDEFINE a hyper-sexualized culture, RESTORE men and women victimized by the sex industry, and to REACH a world hurt by the abuse of sex all through the power of Jesus Christ.
	</div>
	<div class="row contentrow">
	  <h3>WHAT DRIVES US</h3>
	  <p/>
	  <h4>HUMAN DIGNITY</h4>
	  Because of how He created us, and because His son gave His life for us, human beings have had an innate worth and value bestowed upon them by God.  Every. Single. One. Human life demands dignity.   
	  <p/>

	  At the core of human trafficking is a direct disrespect for the innate value and worth of human life.  Trafficking is fueled by a belief that some lives matter more than others.  Because we know otherwise, the church cannot stay quiet.  
	  <p/>

	  <div class="quote">
	  <blockquote> <i>Then God said, “Let us make human beings in our image, to be like us. They will reign over the fish in the sea, the birds in the sky, the livestock, all the wild animals on the earth, and the small animals that scurry along the ground.”<br/>
        <span class="quote-source">Genesis 1:26-27</span> </i> </blockquote>
	  </div>

	  <div class="quote">
	    <blockquote> <i> For God made Christ, who never sinned, to be the offering for our sin, so that we could be made right with God through Christ.<br/>
	    <span class="quote-source">2 Corinthians 5:21</span> </i> </blockquote>
	  </div>
	  <p/>

	  <h4>SEXUAL PURITY</h4>
	  God is the Creator and His design and truth revealed through scripture determine the best for our lives.  We trust His design in all things, and know that with sex and purity specifically, His way is the right way.  Attempting to live by another truth will not end well. 
	  <p/>

	  At the root of sex trafficking is a false understanding of sex and a misuse of its design. God’s word as well as scientific research have demonstrated that our sexualized culture has repercussions, including fueling the demand for sex trafficking. So we start there while continuing to be the voice of justice and hands of freedom for those that are trafficked.  Our hope is that one aspect of redeeming the system is not sacrificed at the expense of the other.
	  <p/>

	  <div class="quote">
	    All Scripture is inspired by God and is useful to teach us what is true and to make us realize what is wrong in our lives. It corrects us when we are wrong and teaches us to do what is right.<br/>
	    <span class="quote-source">2 Timothy 3:16</span>
	  </div>

	  <div class="quote">
	    God created everything through him, and nothing was created except through him.<br/>
	    <span class="quote-source">John 1:3</span>
	  </div>

	  <div class="quote">
	    …But still there was no helper just right for him. So the LORD God caused the man to fall into a deep sleep. While the man slept, the LORD God took out one of the man’s ribs and closed up the opening. 22 Then the LORD God made a woman from the rib, and he brought her to the man. “At last!” the man exclaimed.<br/><br/>
	    <div class="innerquote">
	      “This one is bone from my bone,
    	  and flesh from my flesh!
		  She will be called ‘woman,’
    	  because she was taken from ‘man.’”
	    </div>
	    <br/>
	    This explains why a man leaves his father and mother and is joined to his wife, and the two are united into one.<br/>
	    <span class="quote-source">Genesis 2:20-24</span>
	  </div>

	  <div class="quote">
	    But because there is so much sexual immorality, each man should have his own wife, and each woman should have her own husband. <br/>
	    <span class="quote-source">1 Corinthians 7:2</span>
	  </div>
	  <p/>

	  <h4>THE GOOD NEWS</h4>
	  	Jesus can change anything and He’s in the business of redemption.  His church and its message of salvation are meant to be the solution for a hurting and waiting world.    
	  	<p/>

	  	Trafficking overwhelms the world’s typical solutions.  Stricter laws, better aftercare, preventative education, more funding…without Jesus these good ideas fall flat.  While trafficking can at times seem like too big of a problem to solve, it is simply sin.  Its roots trace back to Genesis 3, and lucky for us we know how the story ends.  
	  	<p/>

	  	Jesus can change anything.  He can enter in and renew the mind of a woman being prostituted and manipulated by a pimp.  He can enter in and change the heart of a man building a business of selling human beings.  He can enter in and open the eyes of a man buying sex through porn or prostitution.  He can enter in and awaken an apathetic church-goer to have a heart for justice.
	  	<p/>

		Jesus can change anything and as His followers, we have been invited to carry the answer of Christ to a hurting and waiting world.  Will you join Him as He frees captives?


	  	<div class="quote">
	      Therefore he is able, once and forever, to save those who come to God through him. He lives forever to intercede with God on their behalf.
	      <br/>
	      <span class="quote-source">Hebrews 7:25</span>
	    </div>

	    <div class="quote">
	      The scroll of Isaiah the prophet was handed to him. He [Jesus] unrolled the scroll and found the place where this was written:
	      <p/>

	      “The Spirit of the LORD is upon me, for he has anointed me to bring Good News to the poor. He has sent me to proclaim that captives will be released, that the blind will see, that the oppressed will be set free, and that the time of the LORD’s favor has come.”
	      <p/>

	      He rolled up the scroll, handed it back to the attendant, and sat down. All eyes in the synagogue looked at him intently. Then he began to speak to them. “The Scripture you’ve just heard has been fulfilled this very day!”
	      <br/>
	      <span class="quote-source">Luke 4:17-21</span>
	    </div>

	    <div class="quote">
	      “You are the salt of the earth. But what good is salt if it has lost its flavor? Can you make it salty again? It will be thrown out and trampled underfoot as worthless.  You are the light of the world—like a city on a hilltop that cannot be hidden.  No one lights a lamp and then puts it under a basket. Instead, a lamp is placed on a stand, where it gives light to everyone in the house.  In the same way, let your good deeds shine out for all to see, so that everyone will praise your heavenly Father.
	      <br/>
	      <span class="quote-source">Matthew 5:13-16</span>
	    </div>

	</div>

	<div class="row contentrow">
	  <h3>WHAT'S IN A NAME</h3>
	  <div class="contentrow center">
	  	<span class="title">
	  	  Isaiah Chapter 43 Verse 1
	  	</span>
	  	<br/>
	  	But now, this is what the Lord says<br/>
		he who created you…<br/>
		he who formed you…<br/>
		“Do not fear, for I have redeemed you;<br/>
		I have summoned you by name;<br/>
		<b>you are mine.</b>
	  </div>
	  <div class="contentrow center">
	    Trafficking and prostitution tend to target <br/>
the “forgotten” of society . <br/>
By choosing the name RECLAIMED, <br/>
we are committed to seeking out and <br/>
caring for the “unclaimed” in society so that <br/>
they may know God does indeed call hem by name.  <br/>
<b>They are His.</b>

	  </div>
	</div>
  <div>
</div>

{% endblock %}
