---
title: Contact-us-success
slug: contact-us-success
is_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 102
---
{% extends parent %}

{% block main %}

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4" style="text-align: center">
		<h3><span class="glyphicon glyphicon-thumbs-up"></span> Awesome!</h3>
		<p/>
		Thanks for contacting us, we'll get back to you as soon as possible.
		<p/>
		<a href="/">Back</a>
		</div>
	</div>

{% endblock %}
