---
title: Contact-us-success

# true if the page is included in the menu
listed: false

# true if the page is published
published: true

---
{% extends parent %}

{% block main %}

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4" style="text-align: center">
		<h3><span class="glyphicon glyphicon-thumbs-up"></span> Awesome!</h3>
		<p/>
		Thanks for contacting us, we'll get back to you as soon as possible.
		<p/>
		<a href="/">Back</a>
		</div>
	</div>

{% endblock %}
