---
title: Events
slug: events
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 103
---
{% extends parent %}

{% block main %}

  <p>Hello world</p>

{% endblock %}
