---
title: Exxxotica In Town
slug: exxxoticaintown
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 110
seo_title: Exxxotica In Town
meta_keywords: Jesus, Christ, Christian, Christianity, sex, trafficking, porn, convention,
  prostitution, exxxotica, Dallas,
meta_description: Learn how you can lovingly respond to the presence of the porn convention,
  Exxxotica, in Dallas.
editable_elements:
  main/dark_section: ! "<center>\r\n<p>&nbsp;</p>\r\n<h1>Greetings fellow freedom
    fighters!</h1>\r\n</center>\r\n<p><br />As you may have seen in recent news or
    on billboards posted on our major highways, a porn convention has come to town.
    Starting on August 7, 2015, an estimated 15,000+ attendees will descend upon the
    Kay Bailey Hutchison Convention Center to peruse the booths of porn vendors, producers,
    and performers at the three-day event.<br />What can we do about it? <br /><br
    /></p>\r\n<center>\r\n<h2><strong>LEARN</strong></h2>\r\n</center>\r\n<p><br />We
    shared on <a href=\"http://www.watermark.org/dallas/blog/when-a-porn-convention-comes-to-town\"
    target=\"_blank\">Watermark&rsquo;s blog</a> why an anti-trafficking organization
    would care about pornography. Read more at the link below.<br /><a href=\"http://www.watermark.org/dallas/blog/when-a-porn-convention-comes-to-town\"
    target=\"_blank\"><strong>Read the Blog. <span>▶</span></strong></a>&nbsp;</p>\r\n<p>You
    can continue to understand the harms of a sexualized culture using some of the
    resources found on our Redefine page.<br /><strong><a href=\"http://www.reclaimed431.org/redefine\">Learn
    More.&nbsp;<span>▶</span></a></strong></p>\r\n<p>And we&rsquo;ve created this
    infographic for you to easily share why the harms of pornography need to be talked
    about. <br /><br /></p>\r\n<p><img src=\"/samples/assets/ExxoticaInfographic.jpg\"
    style=\"display: block; margin-left: auto; margin-right: auto;\" /></p>\r\n<center>\r\n<h2><strong>PRAY</strong></h2>\r\n</center>\r\n<p>Join
    us in praying through the following.</p>\r\n<ol>\r\n<li><strong>Pray for J Handy
    and his family.</strong> J is the brainpower and the organizer behind Exxxotica
    conventions worldwide. Pray that his eyes would be opened to the truth of the
    gospel and pray that he would use his platform and leverage in the porn industry
    to free men and women from addictions. Pray that his family would also be won
    over for Christ.</li>\r\n<li><strong>Pray for the ministries that plan to go to
    the convention center.</strong> Pray for wisdom, and that they would represent
    Christ and His body well. Pray that attendees would see Jesus in their interactions,
    rather than angry religious men. For the record, we do not plan on going to protest.</li>\r\n<li><strong>Pray
    for the men and women that will be attending the convention.</strong> Some will
    be casual porn users that find the event funny. Others will be lifetime addicts.
    Pray that both groups would find freedom from any addictions in their life and
    that God&rsquo;s grace would be revealed to them by some miracle through their
    time there.</li>\r\n<li><strong>Pray for the men and women involved in the porn
    industry that will be present as vendors, producers, or performers.</strong> Pray
    that they specifically are met with grace and compassion. And that they would
    know that they are loved and cared for by God and by His people. Pray specifically
    that individuals would leave the porn industry as a result of this weekend.</li>\r\n<li><strong>Pray
    for the women in the sex industry in Dallas.</strong> Events like this feed a
    demand for prostitution and trafficking. Pray that girls who are vulnerable to
    the sex trade would be protected. Pray that women involved in the sex trade would
    be rescued due to heightened law enforcement during this weekend.</li>\r\n<li><strong>Pray
    for the leaders in our city government.</strong> Pray that through this further
    awareness would be drawn to sex trafficking and prostitution in our city and that
    actions would be taken to end it.</li>\r\n<li><strong>Pray for church leaders
    in Dallas.</strong> Pray this event would cause churches all over the city to
    talk about porn with their congregations, bringing freedom and truth to the men
    and women in their membership that are struggling. Also pray that pastors and
    men in leadership would be protected from the temptations of the enemy to stray
    in this area.</li>\r\n</ol>\r\n<p>&nbsp;</p>\r\n<center>\r\n<h2><strong>JOIN US</strong></h2>\r\n</center>\r\n<p><span>We
    will be joining other young adults from our community near the convention center
    on Saturday Night to worship our God and pray for our city. We will not be going
    to protest, but we do plan to have a presence in the area to remind anyone nearby
    that we are for our city and care about its residents. If you&rsquo;d like to
    join us with a heart of compassion and a spirit of grace, the details for the
    gathering can be found at the link below</span>. <br /><a href=\"https://www.facebook.com/events/1052663478077390/\"
    target=\"_blank\"><strong>Attend the Event.&nbsp;<span>▶</span></strong></a>&nbsp;</p>\r\n<p><br
    />Or, if God is prompting you to be invested for the long term as we work to end
    sex trafficking and redefine our sexualized culture, join us by signing up to
    volunteer here. <br /><a href=\"http://www.reclaimed431.org/contact-us\"><strong>Contact
    Us.&nbsp;<span>▶</span></strong></a></p>"
---
{% extends parent %}

{% block main %}

  <div class="row banner">
  	<img src={{ 'Exxotica-Page-Header.jpg' | theme_image_url }} >
  </div>

<div class="col-sm-1 col-xs-12"></div>
<div class="col-sm-10 col-xs-12">
      {% editable_text "dark_section", hint: "The text belonging in the 'dark' section at the scroll break" %}
      <br><center>Greetings fellow freedom fighters!</center>
        <br>As you may have seen in recent news or on billboards posted on our major highways, a porn convention has come to town.  Starting on August 7th, an estimated 15,000+ attendees will descend upon the Kay Bailey Hutchison Convention Center to peruse the booths of porn vendors, producers, and performers at the 3-day event.<br>What can we do about it?</p>
<br><hr><br>
  <center><b>LEARN</b></center><br>We shared on <a href="http://www.watermark.org/dallas/resources/blog" >Watermark’s blog</a> why an anti-trafficking organization would care about pornography. Read more at the link below.<br><a href="http://www.watermark.org/dallas/resources/blog" ><b>Read the Blog. &#9654</b></a>
  <br>You can continue to understand the harms of a sexualized culture using some of the resources found on our Redefine page.<br><a href="http://www.reclaimed431.org/redefine" ><b>Learn More. &#9654</b></a>
  <br>And we’ve created this infographic for you to easily share why the harms of pornography need to be talked about.
<br><br>
  <center><b>PRAY</b></center>
  <br>Join us in praying through the following.
      <ol>
        <li>Pray for J Handy and his family.  J is the brainpower and the organizer behind Exxxotica conventions worldwide.  Pray that his eyes would be opened to the truth of the gospel and pray that he would use his platform and leverage in the porn industry to free men and women from addictions.  Pray that his family would also be won over for Christ.
        <li>Pray for the ministries that plan to go to the convention center.  Pray for wisdom, and that they would represent Christ and His body well.  Pray that attendees would see Jesus in their interactions, rather than angry religious men.  For the record, we do not plan on going to protest.
        <li>Pray for the men and women that will be attending the convention.  Some will be casual porn users that find the event funny.  Others will be lifetime addicts.  Pray that both groups would find freedom from any addictions in their life and that God’s grace would be revealed to them by some miracle through their time there.
        <li>Pray for the men and women involved in the porn industry that will be present as vendors, producers, or performers.  Pray that they specifically are met with grace and compassion.  And that they would know that they are loved and cared for by God and by His people.  Pray specifically that individuals would leave the porn industry as a result of this weekend.
        <li>Pray for the women in the sex industry in Dallas.  Events like this feed a demand for prostitution and trafficking.  Pray for girls vulnerable to the sex trade would be protected.  Pray that women involved in the sex trade would be rescued due to heightened law enforcement during this weekend.
        <li>Pray for the leaders in our city government.  Pray that through this further awareness would be drawn to sex trafficking and prostitution in our city and that actions would be taken to end it.
        <li>Pray for church leaders in Dallas.  Pray this event would cause churches all over the city to talk about porn with their congregations, bringing freedom and truth to the men and women in their membership that are struggling.  Also pray that pastors and men in leadership would be protected from the temptations of the enemy to stray in this area.
      </ol>
      
<br><br>
  <center><b>JOIN US</b></center>
  <BR>We will be joining other young adults from our community outside the convention center on Saturday Night to worship our God and pray for our city.  We will not be going to protest, but we do plan to have a presence.  We will be there to worship God and pray for our city collectively.  If you’d like to join us with a heart of compassion and a spirit of grace, the details for the gathering can be found at the link below.
    <br><a href="https://www.facebook.com/events/1052663478077390/" ><b>Attend the Event. &#9654</b></a>
<br>Or, if God is prompting you to be invested for the long term as we work to end sex trafficking and redefine our sexualized culture, join us by signing up to volunteer here.
    <br><a href="http://www.reclaimed431.org/contact-us" ><b>Contact US. &#9654</b></a>
    {% endeditable_text %}
  </div>
  <div class="col-sm-1 col-xs-12"></div>
{% endblock %}
