---
title: Reach
slug: reach
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 107
editable_elements:
  main/Description: ! "<h1 style=\"text-align: center;\"><strong>REACH TEAM</strong></h1>\r\n<p>The
    church is God&rsquo;s answer to a hurting and unbelieving world. On a topic that&rsquo;s
    often misunderstood and misrepresented, the church must be empowered, mobilized,
    and ready to serve as a beacon of unrelenting hope. RECLAIMED is committed to
    training the church to holistically fight trafficking as well as mobilize individuals
    to partner with organizations making a difference by the power of the HOLY SPRIIT.</p>\r\n<p>Numerous
    anti-trafficking organizations already exist and RECLAIMED does not want to reinvent
    the wheel. Rather, while working to fill some of the opportunities and gaps listed
    above, we want to fully support the ministries that are already actively engaged
    in the fight. One way to serve with reclaimed is to faithfully volunteer with
    one of these other ministries. Some ministries are highlighted below, but we also
    have an ongoing list of strategic ways to jump in with groups. If you&rsquo;re
    looking for a consistent, structured way to serve this is for you.&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<h2
    style=\"text-align: center;\"><strong>OUR MINISTRY PARTNERS</strong></h2>"
  main/NFNL Copy: ! "<p><strong>New Friends New Life (NFNL)&nbsp;</strong>restores
    and empowers formerly trafficked girls and sexually exploited women and their
    children by providing access to education, job training, interim financial assistance,
    mental health, and spiritual support.&nbsp;NFNL helps women and their children
    overcome backgrounds of abuse, addiction, poverty and limited opportunities.</p>\r\n<h3
    style=\"text-align: center;\">WHY SERVE?</h3>\r\n<p style=\"text-align: left;\">Serving
    at NFNL provides an opportunity to live out Reclaimed&rsquo;s mission by empowering
    and walking with girls and women who were formerly victims of sex trafficking
    and sexual exploitation. You can be instrumental in helping women learn life skills,
    acquire job training, walk with them through career development sessions, and
    engage in resume building while helping them fall in love with the Lord and grow
    in their faith.</p>\r\n<h3 style=\"text-align: center;\">SERVICE OPPORTUNITIES</h3>\r\n<p
    style=\"text-align: left;\">Whether you enjoy serving in children&rsquo;s ministry,
    want to share your event planning or creative gifts, or are excited to walk side
    by side with a prot&eacute;g&eacute; (the women served by NFNL), there are many
    ways to get involved:</p>\r\n<ul style=\"text-align: left;\">\r\n<li>Wednesday
    Evening Meals</li>\r\n<li>Mentorship Program</li>\r\n<li>Job Search Assistance</li>\r\n<li>Computer
    Skills Classes</li>\r\n<li>Career Works (career module training)</li>\r\n<li>Children
    and Youth Program Volunteer and Mentor</li>\r\n<li>Resource Center</li>\r\n<li>Budget
    Counselor</li>\r\n<li>Counseling Program (for fully licensed or intern status
    counselors/therapists)</li>\r\n</ul>\r\n<p style=\"text-align: left;\"><strong><a
    href=\"http://www.newfriendsnewlife.org\" target=\"_blank\">Learn More&nbsp;►</a></strong></p>"
  main/JSL Copy: ! "<p style=\"text-align: left;\"><strong></strong><strong>Jesus
    Said Love (JSL)&nbsp;</strong>is a ministry that shares the revolutionary Love
    of Christ with women in the commercial sex industry to awaken hope and empower
    change. JSL chooses to GO into strip clubs, LOVE the dancers where they are and
    CONNECT them to spiritual and community resources when they are ready to transition
    out of the clubs.</p>\r\n<h3 style=\"text-align: center;\">WHY SERVE?</h3>\r\n<p
    style=\"text-align: left;\">JSL provides an amazing opportunity for the church
    to go straight into the darkest places in Dallas and reach it with the light of
    Christ. If you have ever had a desire to serve a forgotten group of God&rsquo;s
    children and meet people who don&rsquo;t know Jesus or are incredibly far from
    Him, this ministry gives you a chance to that in a number of different ways. God
    is moving in a mighty way through JSL and continues as each month God through
    his people is reminding his children they aren&rsquo;t forgotten.</p>\r\n<h3 style=\"text-align:
    center;\">SERVICE OPPORTUNITIES</h3>\r\n<p style=\"text-align: left;\">Bag team:
    This team usually gets together the night before the outreach and puts together
    the gifts for the women. Each month for the outreach is a theme and the bag team
    will take the items for the theme and incorporate them into bags with the gifts
    for the women.</p>\r\n<ul style=\"text-align: left;\">\r\n<li>Hospitality Team</li>\r\n<li>Babysitting
    Team</li>\r\n<li>Prayer Team</li>\r\n<li>Security Team</li>\r\n<li>Club Team</li>\r\n</ul>\r\n<p
    style=\"text-align: left;\"><a href=\"http://jesussaidlove.com/\" target=\"_blank\"><strong>Learn
    More&nbsp;►</strong></a></p>"
  main/AAL Copy: ! "<p style=\"text-align: left;\"><strong></strong><strong>Alive
    At Last&nbsp;</strong>exists to mobilize communities to encourage and equip survivors
    of sexual exploitation to build new lives. Keep checking back for more information
    about how you can get involved in this ministry.</p>\r\n<p style=\"text-align:
    left;\"><strong><a href=\"http://www.aliveatlast.org/\">Learn More ►</a></strong></p>"
  main/Bottom Copy: ! "<h2 style=\"text-align: center;\"><strong>SERVING WITH RECLAIMED</strong></h2>\r\n<p
    style=\"text-align: left;\"><span>To call RECLAIMED your area of service, we ask
    that you are involved in a monthly capacity with one of these groups, as well
    as attend our quarterly all volunteer meetings, designed to provide equipping
    opportunities as well as a chance to connect with other volunteers fighting the
    same battle but in different ways.</span></p>\r\n<p style=\"text-align: left;\"><strong><a
    href=\"mailto:reclaimed@watermark.org\">Get Started&nbsp;►</a></strong></p>"
---
{% extends parent %}

{% block main %}
<div class="row banner" id="reach-header">
  	
  </div>

 
			  {% editable_text "Description", hint: "The text belonging in the 'light' section immediately after the 'dark' section" %}
			  		<p>
                      Part of our mission as <strong>RECLAIMED</strong> is to <strong>REACH</strong> a world hurt by the abuse of sex
all through the Power of Jesus Christ.
					</p>
			  {% endeditable_text %}

<div class="row contentrow center" id="imglinks">			

					<div class="col-sm-4 col-xs-12" data-toggle="popover" title="" data-placement="top" data-original-title="Coming Soon!">

                      <img src={{ 'Homepage-Ads-Large-NFNL.jpg' | theme_image_url }} alt="New Friends New Life">
					 
					{% editable_text "NFNL Copy", hint: "The text belonging under the New Friends New Life logo" %}
			  				<p>
                              <strong>New Friends New Life</strong> restores and empowers formerly trafficked girls and sexually exploited women and their children by providing access to education, job training, interim financial assistance, mental health, and spiritual support.<br><strong><a href="newfriendsnewlife.org" >Learn More ►</a></strong>
							</p>
			 		{% endeditable_text %}</div>

					<div class="col-sm-4 col-xs-12" data-toggle="popover" title="" data-placement="top" data-original-title="Coming Soon!">          
					  
						<img src={{ 'Homepage-Ads-Large-JSL.jpg' | theme_image_url }} alt="Jesus Said Love">
					  
{% editable_text "JSL Copy", hint: "The text belonging under the Jesus Said Love logo" %}
			  		<p>
					Jesus Said Love goes into strip clubs across Texas, builds relationships with dancers and club employees without strings attached, and connects them to community and spiritual resources.<br><strong><a href="jesussaidlove.com" >Learn More ►</a></strong>
					</p>
			  {% endeditable_text %}					
  </div>

					<div class="col-sm-4 col-xs-12" data-toggle="popover" title="" data-placement="top" data-original-title="Coming Soon!"> 

						<img src={{ 'Homepage-Ads-Large-AAL.jpg' | theme_image_url }} alt="Alive At Last">
{% editable_text "AAL Copy", hint: "The text belonging under the Alive At Last Logo" %}
			  		<p>
					<strong>Alive At Last</strong> exists to mobilize communities to encourage and equip survivors of sexual exploitation to build new lives.<br><strong><a href="http://www.aliveatlast.org/" >Learn More ►</a></strong>
					</p>
			  {% endeditable_text %}						
  </div>
  </div>

 {% editable_text "Bottom Copy", hint: "The text belonging below the Ministry Partners Section" %}
			  		<p>
                      Part of our mission as <strong>RECLAIMED</strong> is to <strong>REACH</strong> a world hurt by the abuse of sex
all through the Power of Jesus Christ.
					</p>
			  {% endeditable_text %} 
{% endblock %}
