---
title: Redefine
slug: redefine

listed: false
published: true
cache_strategy: none
response_type: text/html
position: 108
---
{% extends parent %}

{% block main %}

  <div class="row banner" style="background-image:url({{ 'redefine/Landing-Page-Headers-Redefine.jpg' | theme_image_url }}); height:480px;">
  	<div class="row" style="margin-top:350px">
	    <div class="center bg-opaque" style="width:60%">
		    To solve any problem, you must get to its root.  We’d be remiss to attempt to end sex trafficking without spending time addressing the contributing factors and foundation. In America, that means combatting the lies of our hyper-sexualized porn culture with the truths of scripture.  RECLAIMED is committed to reteaching our culture what it means to value sex and purity the same way our CREATOR does.
		    <p/>
			Ready to learn more?
		</div>
	  </div>
  </div>
  
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 linkset">
  		<div class="row">
	  		<div class="col-sm-4 link">
	  			<a href="http://love146.org/slavery/"><span class="glyphicon glyphicon-hand-right"></span> CLICK HERE</a> <br/>
	  			for an interactive slideshow on what trafficking is
	  		</div>
	  		<div class="col-sm-4 link">
	  			<a href="http://www.state.gov/j/tip/rls/tiprpt/2014/"><span class="glyphicon glyphicon-hand-right"></span> CLICK HERE</a> <br/>
	  			for the US trafficking in persons (TIP) report
	  		</div>
	  		<div class="col-sm-4 link">
	  			<a href="http://fightthenewdrug.org/"><span class="glyphicon glyphicon-hand-right"></span> CLICK HERE</a> <br/>
	  			for multiple articles and resources describing how porn feeds trafficking and how to fight it
	  		</div>
  		</div>
  		<div class="row">
	  		<div class="col-sm-4 link">
	  			<a href="http://www.watermark.org/media/series/247/"><span class="glyphicon glyphicon-headphones"></span> LISTEN UP</a> <br/>
	  			for a better understanding of God's design for sex and how that impacts us.
	  		</div>
	  		<div class="col-sm-4 link">
	  			<a href="http://www.thevillagechurch.net/sermon/in-the-beginning/"><span class="glyphicon glyphicon-headphones"></span> LISTEN UP</a> <br/>
	  			for the theological truth on how men and women were designed
	  		</div>
	  		<div class="col-sm-4 link">
	  			<a href="http://www.watermark.org/media/from-slavery-to-royalty/2603/"><span class="glyphicon glyphicon-headphones"></span> LISTEN UP</a> <br/>
	  			for some specifics on how the church is called to react to sex trafficking
	  		</div>
  		</div>
  		<div class="row" style="margin-top:35px">
	  		<div class="col-sm-4 link">
	  			<a href="http://nefariousdocumentary.com/"><span class="glyphicon glyphicon-facetime-video"></span> PRESS PLAY</a> <br/>
	  			to watch Nefarious; Merchant of Souls, a documentary on trafficking around the world
	  		</div>
	  		<div class="col-sm-4 link">
	  			<a href="http://apathappears.org/film/"><span class="glyphicon glyphicon-facetime-video"></span> PRESS PLAY</a> <br/>
	  			to watch A Path Appears: part one, a documentary focusing on trafficking in the US and it's contributing factors
	  		</div>
	  		<div class="col-sm-4 link">
	  			<a href="http://unearthedpictures.org/"><span class="glyphicon glyphicon-facetime-video"></span> PRESS PLAY</a> <br/>
	  			to watch the trailer for Unearthed, a documentary highlighting the impact men play in the demand for trafficking.
	  		</div>
  		</div>
  		<div class="row" style="margin-top:35px">
	  		<div class="col-sm-4 link">
	  			<a href="http://smile.amazon.com/Priceless-Novel-World-Tom-Davis-ebook/dp/B005S2CMQA/ref=sr_1_1"><span class="glyphicon glyphicon-book"></span> FLIP THROUGH</a> <br/>
	  			Priceless by Tom Davis for a quick, engaging fiction narrative on what trafficking looks like in Russia.
	  		</div>
	  		<div class="col-sm-4 link">
	  			<a href="http://smile.amazon.com/White-Umbrella-Walking-Survivors-Trafficking/dp/0802408591/ref=sr_1_1"><span class="glyphicon glyphicon-book"></span> FLIP THROUGH</a> <br/>
	  			The White Umbrella: Walking with Survivors of Sex Trafficking by Mary Frances Bowley for principles and guidance on what the journey looks like for survivors in America.  
	  		</div>
	  		<div class="col-sm-4 link">
	  			<a href="http://smile.amazon.com/Not-Sale-Return-Global-Trade--/dp/0061998834/ref=sr_1_1"><span class="glyphicon glyphicon-book"></span> FLIP THROUGH</a> <br/>
	  			Not For Sale by David Batsone for a glimpse at how trafficking looks in different countries around the world.  
	  		</div>
  		</div>

	  	<div class="row">
	  		<span style="font-size: large; color: brown">[vector image of 2 ppl] LEARN TOGETHER</span>
			<p/>
			with other men or women in your city what it looks like to understand the main contributors to trafficking and how the church can respond.
			Check out our <a href="https://www.google.com/calendar/embed?src=67gfi1ooq8ie2rs1h5smhmm2pg%40group.calendar.google.com">calendar here</a>
			for the schedule on the next class, and <a href="/contact-us">sign up here</a> to join us.  
	  	</div>
  	</div>
  </div>


{% endblock %}
